<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Customer email:</strong>
    <%= order.customer_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= order.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total amount:</strong>
    <%= order.total_amount %>
  </p>

 <h6>Order Products are:</h6>
  <% if order.products.any? %>
    <% order.products.each do |product| %>
      <span><%= product.name %></span>
    <% end %>
  <% else %>
    <span class="font-bold">Oops! No products have been added in this order.</span>
  <% end %>

</div>
